<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jthd.trumpeter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/default_profile_picture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider116915712024040"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SubmitTrumpetActivity"
            android:label="@string/title_activity_submit_trumpet"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".ViewTrumpetActivity"
            android:label="@string/title_activity_view_trumpet"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
